<meta charset=<%= charset %> />
<meta name=author	value=<%= author %> /> 
<meta name=desc		value=<%= desc %> />

<title><%= title %></title>

<link id=tabicon rel=icon href=<%= faviLoc + favicon %> />

<link id=struc rel=stylesheet href=<%= struct %> />
<link id=style rel=stylesheet href=<%= styleLoc + style %> />

<script src=/js/jquery-3.7.1.min.js></script>
